body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #f0f2f5, #ced6e0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#container {
  width: 80%;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

#inputBox, #outputBox {
  margin-bottom: 20px;
}

input, button {
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
  background-color: #3498db; /* Blue background color */
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

#addBtn {
  border-radius: 0;
  border: none;
  width: 90px;
  color: #fff;
}

#totalAmount {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

#outputBox {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  background-color: #2c3e50; /* Dark background color for header */
  color: #fff;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #121111;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.inputchange {
  background-color: white;
  height: 27px;
  outline: none;
  border: none;
  border-top: 1px solid red;
  border-bottom: 1px solid purple;
  margin: 2px;
}
